body {
    background-color: SkyBlue;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

#header {
    text-align: center;
}

ul.non_bullet_list {
    list-style-type: none;
}

.important {
    font-weight: bold;
}